/* style.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    display:flex;
    flex-direction: row;
  }
  .text{
      display: flex;
      flex-direction:column;
     color:  #3c3c3b;
     padding-left:30px;
    
  }
  .text ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 24px;
}
.text h1{
    font-size: 50px;
    font-family: 'Roboto-Light';
    color: #00599c;
    display: block;
}

 
  
  h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  ul {
    list-style: disc;
    padding-left: 30px;
    text-align: center;
  }
  
  li {
    margin-top: 10px;
  }
  
  img {
    display: block;
    margin: 50px auto;
    width: 600px;
  }
  .last {
    padding: 10px 10px 10px 0;
    border-bottom: 4px solid #ed1c24;
    width: 90%;
    margin: 20px auto;
    font-family: 'Roboto-Bold';
    color: #00599c;
    font-size: 20px;
}
  
